html
  font-size: 62.5%

body
  font-family: 'Droid Sans', sans-serif
  font-size: 1.4rem;

img
  display: block

.warning
  background-color: #fcd209
  border: 0.8rem solid #fcd209
  border-radius: 0.4rem

blockquote
  border-left: 0.4rem solid black
  padding-left: 0.4rem